certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.1
cycler==0.12.0
dateparser==1.1.8
fonttools==4.43.0
httmock==1.4.0
idna==3.4
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.0
packaging==23.1
pandas==2.1.1
Pillow==10.0.1
prometheus-api-client==0.5.4
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2023.8.8
requests==2.31.0
six==1.16.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.5
zipp==3.17.0
