iframe, embed {
	border: 0;
	border-radius: 10px;
	display: block;
	width: 100%;
	height: 500px;
	background-color: #FFF;
}

body {
	background-color: #e9ecef;
	color: #343a40;
}

.row div {
	margin-bottom: 30px;
	
}